<div class="container">
<div class="py-5 section">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h2  id="head-person">ข้อมูลส่วนบุคคล</h2>
          <table class="table" id="" >
            <tbody>
              <tr>
                <td id="head-second" width="200" class="text-right"><b>เลขบัตรประจำตัวประชาชน:</b> </td>
                <td id="tb1"><span id="cid"></span></td>
              </tr>  
              <tr>
                <td  id="head-second"><b>ชื่อ-นามสกุล:</b> </td>
                <td id="tb2"><span id="fullname"></span></td>
              </tr>
              <tr>
                <td id="head-second"><b>เกิดวันที่:</b> </td>
                <td id="tb3"><span  id="birthday"></td>
              </tr>
              <tr>
                <td id="head-second"><b>ที่อยู่:</b> </td>
                <td id="tb4"><span  id="address"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-2" style="    border-left: 1px solid #dddddd; border-right: 1px solid #dddddd;">
          <div id="showImage" >
            <img id='pImg'  src="./assets/blankimg.png" class='img-fluid d-block w-100' style='width:130px;height:200px;'/>
            </div>  
        </div>
        <div class="col-md-3">
          <h1 id="head-person">ขอรับบริการ</h1>
              <div><input type="radio" name="radio" value="1"> ตรวจสุขภาพ (Check up)</div>
              <div><input type="radio" name="radio" value="1"> ตรวจตามนัด (Follow up)</div>
              <div><input type="radio" name="radio" value="1"> ส่งต่อการรักษา (Refer)</div>
              <div><input type="radio" name="radio" value="1"> ตรวจรักษาโรค</div>
              <div style="    margin-left: 35px;">
                    อาการสำคัญ ระบุ<br>
                    <input type="text">
              </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1 id="head-person">ข้อมูลสุขภาพ</h1>  
          <table class="table">
            
            <tbody>
              <tr>
                <td id="head-second" width="200">โรคประจำตัว</td>
                <td id="tb1">ไม่มี</td>
              </tr>
              <tr>
                <td id="head-second">ยาที่ใช้ประจำ</td>
                <td id="tb2">ไม่มี</td>
              </tr>
              <tr>
                <td id="head-second">แพ้ยา</td>
                <td id="tb3">ไม่มี</td>
              </tr>
              <tr>
                <td id="head-second">กรุ๊ปเลือด</td>
                <td id="tb4">-</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-5" style="border-left: 1px solid #dddddd;">
          <table class="table">
            <tbody>
              <tr>
                <td id="head-person" width="200">สิทธิการรักษา</td>
                <td>หลักประกันสุขภาพแห่งชาติ</td>
              </tr>
              <tr><td></td><td></td></tr>
              <tr>
                <td id="head-person">ยืนยันตัวบุคคล</td>
                <td></td>
              </tr>
              <tr>
                <td id="head-second">รหัส OPT</td>
                <td id="pin">*****</td>
              </tr>
              <tr>
                <td id="head-second">ลายนิ้วมือ</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12"> </div>
      </div>
    </div>
  </div>


</div>
 